.mainDiv {
    position:relative;
    top:110px;
    width:100%;
    height:650px;
}

.contentDiv {
    position:relative;
    width:100%;
    height: 300px;
    background-color: rgb(234, 234, 234);
}

.contentMessage{ 
    position:relative;
    top:200px;
}