.App {
  text-align: center;
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  overflow: hidden; 
}

.navBar {
  display: flex; 
  height: 75px; 
  background-color: #f25821;
  color: white; 
  justify-content: left;
  align-items: center; 
  padding-left: 20px; 
  position: sticky; 
}

.logo{
  height: 95%; 
  width: 7%;
  background: transparent; 
}

.button{
  margin-left: 70%; 
  border-radius: 10px;
  height: 50%; 
  background-color: #ece0d1;
}



